<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}" layout:replace="layouts/base :: page">
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <th:block layout:fragment="header-menu-items">
        &nbsp;
        </th:block>
        <div layout:fragment="page-content">
            <div  th:replace="fragments/forms/login-form :: login-form"></div>
        </div>        
    </body>
</html>