<div xmlns:th="http://www.thymeleaf.org" class="login-form centered-medium" th:fragment="register-applicant">
    <form th:action="@{/admin/register-applicant}" th:object="${applicant}" name="register-applicant" method="post">
        <div class="form-field">
            <label class="mandatory">Full Name: </label>
            <input type="text" th:field="*{fullName}" required="required" />
        </div>
        <div class="form-field">
            <label class="mandatory">Email: </label>
            <input type="email" th:field="*{email}" required="required" />
        </div>
        <div class="form-field">
            <label></label>
            <button name="submit" type="submit">Register Applicant</button>
        </div>
    </form>
</div>